<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100"
                src="https://i.pinimg.com/originals/0b/a3/d6/0ba3d60362c7e6d256cfc1f37156bad9.jpg" alt="Primeiro Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100"
                src="https://i.pinimg.com/originals/0b/a3/d6/0ba3d60362c7e6d256cfc1f37156bad9.jpg" alt="Segundo Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100"
                src="https://i.pinimg.com/originals/0b/a3/d6/0ba3d60362c7e6d256cfc1f37156bad9.jpg" alt="Terceiro Slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>

<div class="row col-md-12 d-flex justify-content-center bg-primary m-0">
    <div class="col-md-7 text-center my-5 text-white">
        <h2 class="mb-3">Instituto Social Cativa</h2>
        <p class="m-0">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi excepturi iusto amet repellendus explicabo
            assumenda totam omnis. Dolorum quia qui in voluptates expedita perferendis minus minima libero deserunt
            fuga! Iure?
        </p>
    </div>
</div>

<div class="row col-md-12 d-flex justify-content-center m-0">
    <div class="col-md-7 text-center my-3">
        <h2>Projetos</h2>
        <p>Venha conhecer e até mesmo poder participar deles!</p>
    </div>
</div>

<div class="row col-md-12 d-flex justify-content-center m-0 mb-3">
    <div class="col-md-5 bg-secondary">
        <img class="card-img-top" src="https://i.pinimg.com/originals/8b/13/e9/8b13e94228b0c2f200cabfe70b66263a.jpg"
            alt="Imagem de capa do card" height="400px">
    </div>
    <div class="col-md-4 bg-primary">
        <div class="card-body">
            <p class="card-text text-white font-size">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad
                fugit, quod optio aliquam molestiae voluptatum harum adipisci eum dolore dolor atque tenetur culpa.
                Earum ex repellendus totam dolorum beatae cupiditate.</p>
        </div>
    </div>
</div>

<div class="row col-md-12 d-flex justify-content-center  m-0 mb-3">
    <div class="col-md-4 bg-primary">
        <div class="card-body">
            <p class="card-text text-white font-size">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad
                fugit, quod optio aliquam molestiae voluptatum harum adipisci eum dolore dolor atque tenetur culpa.
                Earum ex repellendus totam dolorum beatae cupiditate.</p>
        </div>
    </div>
    <div class="col-md-5 bg-secondary">
        <img class="card-img-top" src="https://i.pinimg.com/originals/8b/13/e9/8b13e94228b0c2f200cabfe70b66263a.jpg"
            alt="Imagem de capa do card" height="400px">
    </div>
</div>

<div class="row col-md-12 d-flex justify-content-center m-0 mb-3">
    <div class="col-md-5 bg-secondary">
        <img class="card-img-top" src="https://i.pinimg.com/originals/8b/13/e9/8b13e94228b0c2f200cabfe70b66263a.jpg"
            alt="Imagem de capa do card" height="400px">
    </div>
    <div class="col-md-4 bg-primary">
        <div class="card-body">
            <p class="card-text text-white font-size">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad
                fugit, quod optio aliquam molestiae voluptatum harum adipisci eum dolore dolor atque tenetur culpa.
                Earum ex repellendus totam dolorum beatae cupiditate.</p>
        </div>
    </div>
</div>

<div class="row col-md-12 d-flex justify-content-center m-0 bg-primary">
    <div class="row">
        <h3 class="text-center my-3 text-white">Seja Voluntariado</h3>
    </div>
    <div class="row col-md-12 d-flex justify-content-center my-3">
        <div class="col-md-4 mr-4">
            <img class="card-img-top" src="https://i.pinimg.com/originals/8b/13/e9/8b13e94228b0c2f200cabfe70b66263a.jpg"
                alt="Imagem de capa do card" height="250px">
        </div>
        <div class="row col-md-4 d-flex justify-content-center">
            <p class="card-text text-center text-white font-size m-0">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad
                fugit, quod optio aliquam molestiae voluptatum harum adipisci eum dolore dolor atque tenetur culpa.
                Earum ex repellendus totam dolorum beatae cupiditate.
            </p>
            <button class="btn btn-info btn-sm">VENHA PARTICIPAR!</button>
        </div>
    </div>
</div>

<div class="row col-md-12 d-flex justify-content-center m-0">
    <div class="col-md-7 text-center my-3">
        <h2 class="mb-3">Parcerias</h2>
        <p class="m-0">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi excepturi iusto amet repellendus explicabo
            assumenda totam omnis. Dolorum quia qui in voluptates expedita perferendis minus minima libero deserunt
            fuga! Iure?
        </p>
    </div>
   
    <div class="row col-md-9 d-flex justify-content-between">
        <img src="https://i.imgur.com/5KmW0Ka.png" alt="Imagem para teste de logo" class="rounded-circle" width="11%">
        <img src="https://i.imgur.com/5KmW0Ka.png" alt="Imagem para teste de logo" class="rounded-circle" width="11%">
        <img src="https://i.imgur.com/5KmW0Ka.png" alt="Imagem para teste de logo" class="rounded-circle" width="11%">
        <img src="https://i.imgur.com/5KmW0Ka.png" alt="Imagem para teste de logo" class="rounded-circle" width="11%">
    </div>
    <div class="row col-md-9 d-flex justify-content-around my-3">
        <img src="https://i.imgur.com/5KmW0Ka.png" alt="Imagem para teste de logo" class="rounded-circle" width="11%">
        <img src="https://i.imgur.com/5KmW0Ka.png" alt="Imagem para teste de logo" class="rounded-circle" width="11%">
        <img src="https://i.imgur.com/5KmW0Ka.png" alt="Imagem para teste de logo" class="rounded-circle" width="11%">
    </div>
</div>
