<div class="container col-md-12 d-flex-content-center bg-primary text-white ">

    <div class="row my-3 mx-0 p-0 d-flex justify-content-center border-bottom border-white">
        <div class="col-md-2 text-center">
            <img src="https://i.imgur.com/5KmW0Ka.png" alt="Imagem para teste de logo" class="rounded-circle" width="45%">
        </div>
        <div class="col-md-3 text-center">
            <h5>Empresa</h5>
            <p class="m-0">Sobre nós</p>
            <p>Seja Voluntário</p>
        </div>
        <div class="col-md-3 text-center">
            <h5>Ajuda</h5>
            <p>Fale conosco</p>
        </div>
        <div class="col-md-3 text-center">
            <h5>Siga-nos</h5>
            <i class="fa fa-facebook-square fa-lg mr-2" aria-hidden="true"></i>
            <i class="fa fa-instagram fa-lg mr-2" aria-hidden="true"></i>
            <i class="fa fa-linkedin-square fa-lg mr-2" aria-hidden="true"></i>
            <i class="fa fa-whatsapp fa-lg mr-2" aria-hidden="true"></i>
        </div>
    </div>
    <div class="columns my-1">
        <p class="m-0 text-center">2020 Copyright</p>
        <p class="m-0 text-center">CNPJ nº 00.000.000/0001-00</p>
        <p class="m-0 text-center">Avenida Paulista, São Paulo</p>
    </div>

</div>